.payment {
  color: #fff;
  width: 100%;
  background-color: #1f2123;
  position: relative;
  &__body {
      padding: 50px 0;
      padding-top: 150px;
  }
  &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover
  }
  &__content {
      position: relative;
      z-index: 2;
      &__top {
          display: flex;
          margin-bottom: 70px;
          &__left {
              display: flex;
              flex: 0 1 80%;
              align-items: start;
              &__svg {
                  width: 300px;
                  opacity: 0.2;
                  position: absolute;
              }
              &__title {
                  font-size: 46px;
                  line-height: 50px;
              }
          }
          &__right {
              svg {
                  transform: rotate(110deg);
              }
          }
      }
      &__timer {
          &__main {
              width: 100%;
              display: flex;
              margin-bottom: 30px;
          }
          &__countdown {
              margin: 0 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          &__count {
              width: 100px;
              height: 120px;
              font-size: 48px;
              font-weight: 700;
              margin-bottom: 20px;
              border-radius: 3px;
              display: flex;
              align-items: center;
              justify-content: center;
              // background: -webkit-linear-gradient(#eee, #333);
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent;
              box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          }
          &__title {
              color: #777;
              font-size: 28px;
              font-weight: 700;
              line-height: 22px;
              text-align: center;
          }
      }
      &__form {
          width: 30%;
          &__input {
              margin-bottom: 30px;
              input {
                  width: 100%;
                  height: 60px;
                  padding: 0;
                  font-size: 14px;
                  border: none !important;
                  color: #fff !important;
                  border-radius: 0px !important;
                  background: none !important;
                  border-bottom: 1px solid #CFCFCF !important;
                  &:focus {
                      outline: none;
                  }
              }
          }
          &__button {
              button {
                  border: none;
                  cursor: pointer;
                  padding: 14px 25px;
                  border-radius: 5px;
                  background-size: 200%, 1px;
                  background-image: linear-gradient(to right, #99e9a5 0%, #3847ef 51%, #99e9a5 100%);
                  transition: all 0.2s cubic-bezier(0.68, 0.01, 0.58, 0.75) !important;
                  font-size: 16px;
                  font-weight: 600;
                  text-transform: None;
                  color: #fff;
                  border-style: none;
                  &:hover {
                      background-position: 100% 0;
                  }
              }
          }
      }
      &__payinfo {
          font-size: 24px;
      
          &__price {
            font-size: 30px;
            margin-bottom: 6px;
            strong {
              background: -webkit-linear-gradient(left, #00f298, #07f7f7);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              display: inline-block;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
      
          &__subtitle {
            margin-bottom: 60px;
          }
      
          &__typepayment {
            font-size: 26px;
            font-weight: 900;
            margin-bottom: 30px;
          }
      
          &__item {
            margin-bottom: 20px;
      
            &__name {
              margin-bottom: 10px;
            }
      
            &__rekvizit {
              color: #988a8a;
              font-size: 22px;
              padding-left: 35px;
            }
      
            &__fio {
              padding-left: 35px;
            }
          }
      
          &__required,
          &__check,
          &__help {
            font-size: 30px;
          }
      
          &__required {
            margin-top: 50px;
          }
      
          &__check {
            margin-bottom: 30px;
          }
      
          &__help {
            border-radius: 30px;
            width: 360px;
            max-width: 100%;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 24px;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.12px;
            font-weight: 900;
            margin-right: 80px;
            background: -webkit-linear-gradient(left, #00f298, #07f7f7);
      
            &:hover {
              background: #fff;
            }
          }
        }
  }
  &__logo {
      img {
          width: 500px;
          position: absolute;
          right: 0;
          bottom: 0;
          opacity: 0.1;
      }
  }
}

@media only screen and (max-width: 576px) {
  .payment {
      &__content {
          &__top {
              &__left {
                  &__title {
                      font-size: 32px!important;
                      line-height: 35px!important;
                  }
              }
              &__right {
                  svg {
                      width: 100px;
                      transform: rotate(115deg);
                  }
              }
          }
          &__timer {
              margin-bottom: 15px;
              &__main {
                  justify-content: space-between;
              }
              &__countdown {
                  margin: 0;
                  flex: 0 0 21%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
              }
              &__count {
                  width: 60px;
                  height: 70px;
              }
              &__title {
                  font-size: 18px;
                  font-weight: 500;
              }
          }
          &__form {
              width: 100%;
          }
          &__payinfo {
              &__price {
                  margin-bottom: 50px;
              }
              &__item {
                &__rekvizit {
                  overflow-x: auto;
                }
              }
              &__required,
              &__check,
              &__help {
                font-size: 24px;
              }
              &__required {
                margin-bottom: 25px;
              }
          }
      }
      &__logo {
          img {
              width: 280px;
          }
      }
  }
}